@import url("https://cdn.jsdelivr.net/npm/@fontsource/fraunces/400.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/noto-serif-sc/600.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/iosevka/400.css");

main {
    font-family: "Fraunces", "Noto Serif SC", serif;
    --color-prettylights-syntax-comment: #8c8fa1;
    --color-prettylights-syntax-constant: #1e66f5;
    --color-prettylights-syntax-entity: #1e66f5;
    --color-prettylights-syntax-storage-modifier-import: #fe640b;
    --color-prettylights-syntax-entity-tag: #179299;
    --color-prettylights-syntax-keyword: #ea76cb;
    --color-prettylights-syntax-string: #40a02b;
    --color-prettylights-syntax-variable: #fe640b;
    --color-prettylights-syntax-invalid-illegal-text: #d20f39;
    --color-prettylights-syntax-invalid-illegal-bg: #d20f3926;
    --color-prettylights-syntax-markup-heading: #179299;
    --color-prettylights-syntax-markup-italic: #df8e1d;
    --color-prettylights-syntax-markup-bold: #df8e1d;
    --color-prettylights-syntax-markup-deleted-text: #4c4f69;
    --color-prettylights-syntax-markup-deleted-bg: #d20f3966;
    --color-prettylights-syntax-markup-inserted-text: #4c4f69;
    --color-prettylights-syntax-markup-inserted-bg: #40a02b66;
    --color-prettylights-syntax-markup-changed-text: #4c4f69;
    --color-prettylights-syntax-markup-changed-bg: #df8e1d66;
    --color-prettylights-syntax-markup-ignored-text: #4c4f69;
    --color-btn-text: #4c4f69;
    --color-btn-bg: #ccd0da;
    --color-btn-border: #bcc0cc;
    --color-btn-hover-bg: #bcc0cc;
    --color-btn-hover-border: #acb0be;
    --color-btn-active-bg: #acb0be;
    --color-btn-selected-bg: #acb0be;
    --color-btn-counter-bg: #acb0be;
    --color-btn-outline-text: #8839ef;
    --color-btn-shadow: 0 0 #0000;
    --color-btn-inset-shadow: 0 0 #0000;
    --color-btn-primary-text: #eff1f5;
    --color-btn-primary-bg: #40a02b;
    --color-btn-primary-border: #0000;
    --color-btn-primary-shadow: 0 0 #0000;
    --color-btn-primary-inset-shadow: 0 0 #0000;
    --color-btn-primary-hover-bg: #50c836;
    --color-btn-primary-hover-border: #50c836;
    --color-btn-primary-selected-bg: #50c836;
    --color-btn-primary-selected-shadow: 0 0 #0000;
    --color-btn-primary-disabled-text: #dce0e8;
    --color-btn-primary-disabled-bg: #40a02b66;
    --color-btn-primary-disabled-border: #0000;
    --color-action-list-item-default-hover-bg: #bcc0cc;
    --color-segmented-control-bg: #acb0be;
    --color-segmented-control-button-bg: #eff1f5;
    --color-segmented-control-button-selected-border: #9ca0b0;
    --color-fg-default: #4c4f69;
    --color-fg-muted: #5c5f77;
    --color-fg-subtle: #5c5f77;
    --color-canvas-default: #eff1f5;
    --color-canvas-overlay: #ccd0da;
    --color-canvas-inset: #dce0e8;
    --color-canvas-subtle: #e6e9ef;
    --color-border-default: #bcc0cc;
    --color-border-muted: #ccd0da;
    --color-neutral-muted: #9ca0b033;
    --color-accent-fg: #7f2bee;
    --color-accent-emphasis: #8839ef;
    --color-accent-muted: #8839ef66;
    --color-accent-subtle: #8839ef26;
    --color-success-fg: #40a02b;
    --color-attention-fg: #fe640b;
    --color-attention-muted: #8839ef;
    --color-attention-subtle: #8839ef26;
    --color-danger-fg: #d20f39;
    --color-danger-muted: #d20f3966;
    --color-danger-subtle: #d20f3933;
    --color-primer-shadow-inset: 0 0 #0000;
    --color-scale-gray-7: #bcc0cc;
    --color-scale-blue-8: #0a4ed6;
    --color-social-reaction-bg-hover: var(--color-scale-gray-7);
    --color-social-reaction-bg-reacted-hover: var(--color-scale-blue-8);
}

main .gsc-comment-box-textarea::placeholder {
    color: #6c6f85;
}

main .gsc-loading-image {
    background-image: url(https://giscus.catppuccin.com/assets/loading.gif);
}

* {
    border-radius: 0 !important;
}

code,
pre,
.gsc-comment-box-textarea {
    font-family: "Iosevka", monospace !important;
}