/* 设置 Starlight 的字体变量 */
:root {
    --sl-font: "Baskervville", "Noto Serif SC", serif;
    --sl-font-mono: "Iosevka", monospace;
}

:lang(zh),
:lang(zh-CN) {
    --sl-font: "Noto Serif SC", "Baskervville", serif;
}

pre,
code {
    font-family: "Iosevka", "Noto Serif SC", monospace;
}
