---
import Default from '@astrojs/starlight/components/MarkdownContent.astro'
import ImageZoomer from '../ImageZoomer'
---

<ImageZoomer client:only="react" />
<p>Ciallo ~ (∠・ω&lt; )⌒★!</p>
<Default><slot /></Default>
