---
import config from "virtual:kokosa-blog/config";

import { renderBlogEntryToString } from "../libs/container";
import type { StarlightBlogEntry } from "../libs/content";
import type { Locale } from "../libs/i18n";
import { getMetrics, type Metrics } from "../libs/metrics";

interface Props {
  entry: StarlightBlogEntry;
  isPost?: boolean;
  locale: Locale;
}

const { entry, isPost = false } = Astro.props;

let metrics: Metrics | undefined;

if (config.metrics.readingTime !== false || config.metrics.words !== false) {
  const html = await renderBlogEntryToString(entry, Astro.locals.t);
  metrics = getMetrics(html, Astro.currentLocale, entry.data.metrics);
}
---

<div class:list={["metadata", "not-content", { "metadata-post": isPost }]}>
  <div class="dates">
    <time datetime={entry.data.date.toISOString()}>
      {Astro.locals.t("kokosaBlog.post.date", { date: entry.data.date })}
    </time>
    {
      entry.data.lastUpdated !== undefined &&
      typeof entry.data.lastUpdated !== "boolean" &&
      entry.data.lastUpdated?.toISOString() !== entry.data.date.toISOString() ? (
        <span
          class="metadata-alt"
          set:html={Astro.locals.t("kokosaBlog.post.lastUpdate", {
            date: entry.data.lastUpdated,
            isoDate: entry.data.lastUpdated.toISOString(),
          })}
        />
      ) : null
    }
    {
      config.metrics.readingTime !== false && metrics && metrics.readingTime.minutes > 0 && (
        <span class="metadata-alt">{Astro.locals.t("kokosaBlog.metrics.readingTime.minutes", { count: metrics.readingTime.minutes })}</span>
      )
    }
    {
      config.metrics.words !== false && metrics && metrics.words.total > 0 && (
        <span class="metadata-alt">
          {Astro.locals.t("kokosaBlog.metrics.words", {
            count: config.metrics.words === "total" ? metrics.words.total : metrics.words.rounded,
          })}
        </span>
      )
    }
  </div>
</div>

<style>
  .metadata {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .metadata-post {
    transform: translateY(-1rem);
  }

  .dates {
    font-size: var(--sl-text-sm);
  }

  .metadata-alt {
    color: var(--sl-color-gray-3);
  }

  .badges {
    display: flex;
    gap: 0.75rem;
    margin-top: 0.5rem;
  }
</style>
